{% load static %}
	
<!-- Footer Section -->
<div class="footer-area" style="padding: 20px 0;">
	<div class="container">
	  <div class="row">
		<div class="col-lg-3 col-md-6">
		  <div class="footer-box about-widget">
			<h2 class="widget-title" style="margin-bottom: 10px; font-size: 18px;">About DoorDelights</h2>
			<p style="margin-bottom: 5px; font-size: 14px;">DoorDelights is a unique food delivery platform connecting you with delicious, homemade meals prepared by loving mothers. Experience the taste of home with every bite!</p>
		  </div>
		</div>
		<div class="col-lg-3 col-md-6">
		  <div class="footer-box get-in-touch">
			<h2 class="widget-title" style="margin-bottom: 10px; font-size: 18px;">Get in Touch</h2>
			<ul style="padding-left: 0; font-size: 14px;">
			  <li>123, Door Delights, Kannur, India.</li>
			  <li>support@doordelights.com</li>
			  <li>+91 98765 43210</li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- end footer -->
  
  <!-- copyright -->
  <div class="copyright" style="padding: 10px 0; font-size: 14px;">
	<div class="container">
	  <div class="row">
		<div class="col-lg-6 col-md-12">
		  <p style="margin-bottom: 0;">&copy; 2025 DoorDelights. All Rights Reserved.</p>
		</div>
	  </div>
	</div>
  </div>
  <!-- end copyright -->
  
  <!-- JavaScript Files -->
  <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.js' %}"></script>
  <script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
  <script src="{% static 'js/waypoints.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
  <script src="{% static 'js/sticker.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  </body>
  </html>
  